@inherits LayoutComponentBase

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img asp-append-version="true" alt="Logos" src="img/Globo_logo.png" style="max-width:100%" />
        </div>
        <div class="col-md-10 titlecol">
            <span class="title">Globomantics</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Body
        </div>
    </div>
</div>
