@using Globomantics.Shared.Models
@using Blazor.Services
@inject IProposalService proposalService

<tr>
    <td>@Proposal.Title</td>
    <td>@Proposal.Speaker</td>
    <td>
        @if (Proposal.Approved)
        {
            <div class="glyphicon glyphicon-check"></div>
        }
    </td>
    <td>
        @if (!Proposal.Approved)
        {
            <a @onclick="@HandleApprove">Approve</a>
        }
    </td>
</tr>


@functions {
    [Parameter]
    private ProposalModel Proposal { get; set; }

    private void HandleApprove()
    {
        Proposal.Approved = true;
        proposalService.Approve(Proposal.Id);
    }
}